$black: #000000;
$gray: #7e7e7e;
$gray-light: #bebebe;
$white: #ffffff;
$red: #fe0000;
$red-dark: #7e0000;
$green: #06ff04;
$green-dark: #047e00;
$yellow: #ffff04;
$yellow-dark: #7e7e00;
$blue: #0000ff;
$blue-dark: #00007e;
$magenta: #fe00ff;
$magenta-dark: #7e007e;
$cyan: #06ffff;
$cyan-dark: #047e7e;

$windows-left: #000080;
$windows-right: #1084d0;