@use '../colors';

$variables: (
    font-normal: sans-serif,
    font-h1: sans-serif,
    font-h2: sans-serif,
    font-h3: sans-serif,
    font-h4: sans-serif,
    font-h5: sans-serif,
    font-comments: sans-serif,

    color-background: colors.$white,
    color-text: colors.$black,
    color-a: colors.$blue,
    color-h1: colors.$black,
    color-h2: colors.$black,
    color-h3: colors.$black,
    color-h4: colors.$black,
    color-h5: colors.$black,

    comment-form-submit-padding: 3rem,
    comment-form-submit-font-size: 3rem,
    comment-form-submit-background-color: colors.$cyan,

    comment-single-background-color: colors.$yellow-dark,
    comment-single-avatar-border: 2px solid colors.$green,
    comment-single-date-color: colors.$magenta-dark,
    comment-single-author-color: colors.$red-dark,
);



// @use 'base';
// @use '../colors';

// $fonts: (
//     $normal: sans-serif
//     $h1: sans-serif
//     $h2: sans-serif
//     $h3: sans-serif
//     $h4: sans-serif
//     $h5: sans-serif
//     $comments: sans-serif
// );

// $colors: (
//     $background: colors.$white
//     $text: colors.$black
//     $a: colors.$blue
//     $h1: colors.$black
//     $h2: colors.$black
//     $h3: colors.$black
//     $h4: colors.$black
//     $h5: colors.$black
// );

// $comments: (
//     $form: (
//         $submit-padding: 1em
//         $submit-font-size: 1em
//         $submit-background-color: none
//     )
//     $single: (
//         $background: colors.$white
//         $avatar-border: none
//         $date-color: colors.$black
//         $author-color: colors.$black
//     )
// );