---
import CommentForm from './Comments/CommentForm.astro';
import CommentList from './Comments/CommentList.astro';
---

<section class="comments">
    <h1>Comments</h1>
    <p>Upgraded a bunch of stuff and in the middle of a rebuild. Comments are disabled for now.</p>
    <!-- <CommentList />
    <CommentForm /> -->
</section>

<style>
    .comments {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>
