---
import TopNav from './TopNav.astro';

const { title = null, children = null, showTopNav = false } = Astro.props;

---

<div class="browserWindow">
    <div class="wrapper">
        <header class="header">
            <div class="title">{title}</div>
            {showTopNav ? <TopNav /> : null}
        </header>
        <div class="main">
            <slot />
        </div>
    </div>
</div>

<style lang="scss">
	@use '../../styles/config/variables';
    @use '../../styles/config/colors';

	.browserWindow {
        box-shadow: variables.$shadow-offset;
        background: colors.$gray-light;
        padding: 3px;
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;

        .wrapper {
            padding: 1px;
        }

        .header {
            font-family: var(--window-font-title);
            font-size: var(--font-size-sm);
        }

        .title {
            background-color: var(--window-color-background-left);
            color: var(--window-color-title-text);
            font-weight: bold;
            font-size: var(--font-size-sm);
            padding: 3px;
            background: linear-gradient(90deg, var(--window-color-background-left), var(--window-color-background-right));
        }

        .main {
            background-color: var(--color-background);
            color: var(--color-text);
            font-family: var(--font-normal);
            box-shadow: variables.$shadow-inset
        }
    }
</style>