---
import ThemeSelect from './ThemeSelect';
---

<nav class="topNav">
    <div class="container">
        <ul class="navItems">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
            <li id="enableSanityMode" class="sanityModeToggle">
                <ThemeSelect client:only />
            </li>
        </ul>
    </div>
</nav>

<style>
    .container {
        background-color: var(--window-color-nav-background);
        padding: 1px;
    }

    .navItems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navItems li {
        padding: 0;

        &:hover {
            box-shadow: var(--shadow-offset);
        }
    }

    .navItems li a {
        display: block;
        text-decoration: none;
        color: var(--window-color-nav-text);
        font-size: var(--font-size-sm);
        line-height: 1.2;
        padding: 4px 5px;
    }

    .navItems li:first-child a {
        padding-left: 2px;
    }

    .sanityModeToggle {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0 2px;
    }

    .sanityModeToggle:hover {
        box-shadow: none !important;
    }

    @media (max-width: 768px) {
        .navItems li {
            padding: 0;
        }

        .navItems li a {
            display: block;
            padding: 12px;
            font-size: var(--font-size-base);
        }

        .navItems li:first-child a {
            padding-left: 12px;
        }

        .sanityModeToggle {
            display: block;
            margin-left: 0;
            width: 100%;
            padding: 8px 12px;
            border-top: 1px solid var(--window-color-nav-separator);
            box-shadow: inset 0 1px 0 var(--window-color-nav-highlight);
        }
    }
</style>